[submodule "2022/angstromctf"]
	path = 2022/angstromctf
	url = https://github.com/jarvis-1805/angstromctf.git
[submodule "2022/BCACTF-3.0"]
	path = 2022/BCACTF-3.0
	url = https://github.com/jarvis-1805/BCACTF-3.0
